@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');

.main4 {
    background-color: #292929;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 1px, solid, red; */
}

.main4>p {
    font-size: 3em;
    font-family: "prompt", 'sans-serif';
    color: #ffffff;
}

.image {
    height: 90%;
    width: 25%;
}

.row {
    color: #ffffff;
    margin: 3%;
    align-items: center;
    font-family: "prompt", 'sans-serif';
    display: flex;
    justify-content: space-around;
}

.row>p {
    font-size: 1.5em;
    width: 60%;
}

@media screen and (max-width:414px) {
    .row {
        flex-direction: column;
    }
    .image{
        height: 100%;
        width: 50%;
    }

    .row>p {
        text-align: center;
        font-size: 1em;
        width: 60%;
    }


}